@model StartupBusinessSystem.Web.ViewModels.Profile.ParticipationDetailsViewModel
@{
    ViewBag.Title = "Participation Details";
}

<h2>Participation List</h2>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-5 jumbotron">
            <h2>Status</h2>
            <hr />
            <p>Startup: @Model.Campaign </p>
            <p>Status: @Model.Status</p>
        </div>
    </div>
</div>