@model IEnumerable<StartupBusinessSystem.Web.ViewModels.Profile.ParticipationDetailsViewModel>
@{
    ViewBag.Title = "Participation Details";
}
<h2>Participation List</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-5 jumbotron">
            @{
                foreach (var participation in Model)
                {
                    <p>
                        <h2>@participation.Campaign.Name </h2>
                    </p>
                    <p>Status: @participation.Status</p>
                    <p>MakeOffer: @participation.MakeOffer</p>
                    <p>SharesOwned: @participation.SharesOwned</p>
                }
            }

        </div>
    </div>
</div>